html, body {
    width: 100%; height: 100%; margin: 0;
    font-family: sans-serif; font-size: clamp(18px, 6vmin, 22px); background-color: #000; color: #fff; color-scheme: dark;
    overscroll-behavior: contain;
}
body.arch {background-color: #030;}
body {--brightness: 1; filter: brightness(var(--brightness)); transition: all 1s ease;}

.bar {position: fixed; width: 100%; z-index: 3; transform-origin: 0 0; color: #fff; opacity: 1; visibility: visible;}
.bar span {display: inline-flex;}
.bar .arch {position: relative;}
.bar .arch .range {position: absolute; top: -8em; height: 7em; width: 1em; writing-mode: vertical-lr; direction: rtl;}
.bar .speed-range {left: 1em;}
.bar .motion-range {right: 1em;}
.bar .arch.inet {display: none;}
header.bar {top: 0; height: 0;}
footer.bar {bottom: 0;}
header {display: flex;}
header .top-left, header .top-right, footer {background: rgba(0, 0, 0, .3);}
header .top-left {height: 2em; border-bottom-right-radius: .3em}
header .top-right {height: 2em; margin-left: auto; border-bottom-left-radius: .3em}
header .title {align-items: center; padding-right: .3em; margin: auto 0;}
header i {height: 2em; width: 2em; display: inline-flex; cursor: pointer; transition: all .1s ease;}
header svg, footer svg {
    height: 1em; width: 1em; padding: .5em; display: inline-flex; cursor: pointer; transition: all .1s ease;
    stroke: #fff; stroke-linecap: round; stroke-linejoin: round; fill: none;
}

main {width: 100%; height: 100%; display: grid; place-items: center;}
main.events {background: #400;}
footer {display: grid;}
footer section {display: flex; align-items: center; white-space: nowrap;}
footer .time-range {
    appearance: none; display: block; cursor: pointer;
    width: 100%; height: 2px; margin: 1em auto;  background-color: rgb(200, 200, 200);
}
footer .time-range::-webkit-slider-thumb {appearance: none; width: 2em; height: 2em; border-radius: 50%; background: #08f;}
footer .time-range::-moz-range-thumb {width: 2em; height: 2em; border-radius: 50%; background: #08f;}
footer .range-box.dotted {
    background-image: radial-gradient(circle, rgb(200,200,200) 3px, rgba(0, 0, 0, 0) 1px);
    background-position: center;
}
footer .center {margin: auto;}
footer .arrow polyline {stroke-width: 2; fill: none;}
footer .chart {position: absolute; height: 100%; width: 100%; z-index: -1;}
footer .chart svg {height: 100%; width: 100%; padding: 0;}
footer .chart rect {stroke: none; fill: rgba(255, 255, 255, .2); transition: all .5s ease;}

.fit-width {width: 100%; display: flex;}
.fit-height {height: 100%; display: flex;}

.nav {list-style-type: none; margin: auto; padding: .1em; display: grid; grid-template-columns: auto 1em;}
.nav li {padding: .5em 2em; cursor: pointer; display: contents;}
.nav li a {padding: .5em; white-space: nowrap; text-decoration: none; color: #fff;}
.nav li.group a {color: #d9f;}
.nav li i {display: inline-block; margin-left: .5em; color: #888; min-width: 1em; font-size: .8em;}
.nav li b {width: 1em; height: 1em; padding: .5em; opacity: .5; transition: opacity .2s;}
.nav li b:not(.blink):hover {opacity: 1;}
.nav li svg {stroke: #fff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round; fill: none;}

.arrow svg {max-width: 100%; padding: .5em .3em;}
.arrow svg text {font-size: 15px;}
svg.big {height: 1.2em; width: 1.2em; padding: .4em;}
svg.play, svg.motion {fill: #fff;}
svg.selected {stroke: #fa0; fill: #fa0;}
.disabled svg {cursor: default; filter: opacity(.3);}
.invisible {opacity: 0; visibility: hidden; transition: visibility .5s, opacity .5s;}

form {text-align: center;}
form label {display: block;}
form input {width: 95%; font-size: 1em; font-family: inherit;}
form input.error {border: 2px solid #f44; border-radius: .1em;}
form div.error {margin: -0.5em 0 0.5em 0; color: #c44; font-size: .8em; font-style: italic;}
form .row {margin: 0 auto; padding-bottom: 1em;}
form .row div {padding: .5em 0; color: #888;}
form .row svg {fill: #fff; stroke: #fff; stroke-linecap: round; stroke-linejoin: round;}
form .row svg {width: 1em; height: 1em; vertical-align: middle;}
form .row span {vertical-align: middle;}
form .row ul li span {display: inline-block; text-align: left; padding: .3em; cursor: initial;}
form .row ul li svg {padding: .4em;}
form .delete {margin-top: 1.5em;}
form .delete span {font-size: .8em; color: #c44; cursor: pointer;}
form .delete span:hover {color: #f88;}
.button {
    margin: .5em 1em; padding: .5em 1em; color: #fff; background-color: #36c;
    border-radius: 6px; border-width: 0; cursor: pointer; font-size: 1em; font-family: inherit;
}
.button:hover {background-color: #25b;}
.edit-form {margin-top: 1.5em;}
.edit-form p {margin: 0 0 .5em 0; color: #888;}
.edit-form ul li svg {opacity: .5;}
.edit-form ul li svg:hover {opacity: 1;}
.edit-form select {margin-top: .5em; font-size: 1em;}
.edit-form select:invalid {color: #888;}
.edit-form select option {background-color: #222;}

.empty-home .button {display: block; margin: 2em auto;}
.empty-home .button a {padding: .5em; text-decoration: none; color: #fff;}
.empty-home a.about {display: block; text-align: center; margin-bottom: 2em; text-decoration: none;}

#menu-toggle {opacity: 0; width: 0; margin: 0;}
#menu-toggle:checked ~ .menu-btn > span {transform: rotate(45deg);}
#menu-toggle:checked ~ .menu-btn > span::before {top: 0; transform: rotate(0); width: 1.1em;}
#menu-toggle:checked ~ .menu-btn > span::after {top: 0; transform: rotate(90deg); width: 1.1em;}
#menu-toggle:checked ~ .menu-box {visibility: visible; left: 0;}
.menu-btn {width: 1em; height: 1em; padding: .5em; cursor: pointer; z-index: 1;}
.menu-btn > span, .menu-btn > span::before, .menu-btn > span::after {
    display: block; position: absolute; top: .9em; width: 1em; height: 2px; background-color: #fff; border-radius: 1px; transition-duration: .4s;
}
.menu-btn > span::before {content: ''; top: -8px;}
.menu-btn > span::after {content: ''; top: 8px;}
.menu-box {
    position: fixed; visibility: hidden; top: 0; left: -100%; margin: 0; padding: 2em 0 0 0; list-style: none;
    background-color: #222; box-shadow: 0 0 .5em #000; transition-duration: .4s;
}
.menu-box a {display: block; padding: .9em; color: #fff; text-decoration: none; font-size: .8em; transition-duration: .3s;}
.menu-box a:hover, .menu-box li:has(.import-input:hover) {background-color: #444;}
.menu-box hr {height: 1px; border: none; margin: .2em .5em; background-color: #777;}
.import-link {position: relative;}
.import-input {position: absolute; width: 0; opacity: 0;}

.video-box {margin: auto; aspect-ratio: 16/9; display: grid; place-items: center;}
.video-box video {width: 100%; display: block;}
.group-box {display: flex; flex-wrap: wrap; justify-content: center; margin: auto;}
.image-box {margin: auto;}
.image-box img {max-width: 100%; max-height: 100%;}

i.bell-btn line {transition: opacity .3s ease; opacity: 0; stroke: #8f8; filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));}
i.bell-btn.selected svg {stroke: #f40;}
i.bell-btn:not(.selected) svg line {opacity: 1;}

.loader {position: fixed; right: 100%; height: .1em; background:#07f; }
.loader:not(.hidden) {animation: progress 2s linear infinite;}
@keyframes progress {
    0% {left: 0%; width: 0%;}
    50% {left: 0%; width: 100%;}
    100% {left: 100%; width: 0%;}
}
.hidden, .bar .hidden, li.hidden {display: none;}

header, main, footer {transition: filter .3s ease;}
.dimmed header, .dimmed main, .dimmed footer {filter: brightness(.5)}

.blink {transition: opacity .2s ease; opacity: .3;}
