html, body {
    width: 100%; height: 100%; margin: 0;
    background-color: #000; font-size: 1.1em; font-family: sans-serif; color: #fff;
}
body.arch {background-color: #030;}
form {text-align: center;}
form label {display: block;}
form input {width: 95%;}
form input, form button {font-size: 1em;}
form input.error {background: #fd7;}
.video-box {margin: 0; position: relative; aspect-ratio: 16/9;}
.video-box video {width: 100%; display: block; position: absolute; z-index: 1;}
.video-box div {width: 100%; height: 100%; background: rgba(255, 255, 255, 0.4); position: absolute; z-index: 2;}
.group-box {display: flex; flex-wrap: wrap; justify-content: center;}
.image-box {text-align: center;}
.image-box img {max-width: 100%; max-height: 100%;}
.fit-width {width: 100%;}
.fit-height {height: 100%;}
.bar {
    position: absolute; z-index: 3; top: 50%; width: 100%; transform-origin: 0 0;
    color: #fff; opacity: 1; visibility: visible;}
.bar.invisible {opacity: 0; visibility: hidden; transition: visibility 0.5s, opacity 0.5s; transition-delay: 5s;}
.bar span {display: inline-flex;}
.bar .arch {position: relative;}
.bar .arch .range {position: absolute; top: -10em; width: 3px; height: 9.5em; -webkit-appearance: slider-vertical;}
.bar .speed-range {left: 1.3em;}
.bar .motion-range {right: 1.3em;}
header svg, footer svg {
    height: 1em; padding: 0.5em; display: inline-flex; cursor: pointer;
    fill: #fff; stroke: #fff; stroke-linecap: round; stroke-linejoin: round; transition: all 0.1s ease-in-out;
}
.arrow svg {max-width: 100%; padding: 0.5em 0.3em;}
.arrow svg text {font-size: 15px;}
svg.big {height: 1.2em; padding: 0.4em;}
svg.selected {stroke: #fa0; fill: #fa0;}
.disabled svg {cursor: default; filter: opacity(0.3);}

main {width: 100%; display: flex; justify-content: center; align-items: center;}
main.events {background: #400;}
header {display: flex; font-size: 1.2em;}
header .back-btn, header .title, footer {background: rgba(0, 0, 0, 0.2);}
header .title {align-items: center; padding-right: 0.3em;}
header.events .title {color: #f74;}
header .link-btn {margin-left: auto;}
footer {display: grid; font-size: 1.2em;}
footer section {display: flex; align-items: center; white-space: nowrap;}
footer .time-range {
    appearance: none; display: block; cursor: pointer;
    width: 100%; height: 2px; margin: 1em auto 0 auto;  background-color: rgb(200, 200, 200);
}
footer .time-range::-webkit-slider-thumb {appearance: none; width: 2em; height: 2em; border-radius: 50%; background: #08f;}
footer .time-range::-moz-range-thumb {width: 2em; height: 2em; border-radius: 50%; background: #08f;}
footer .range-box {
    height: 37px; padding-bottom: 8px; background-size: 0 50px;
    background-image: radial-gradient(circle, rgb(200,200,200) 3px, rgba(0, 0, 0, 0) 1px);
}
footer .center {margin: auto;}
footer.fixed {position: fixed; bottom: 0; right: 0;}
footer .arrow polyline {stroke-width: 2; fill: none;}
footer .chart {position: absolute; height: 100%; width: 100%; z-index: -1;}
footer .chart svg {height: 100%; width: 100%; padding: 0;}
footer .chart rect {stroke: none; fill: rgba(255, 255, 255, 0.2); transition: all 0.5s ease-in-out;}
footer i {height: 2em; width: 2em; display: inline-flex; cursor: pointer; transition: all 0.1s ease-in-out;}
i.bell-btn {background-image: url('/img/bell_off.svg'); background-size: 1em 1em; background-position: center; background-repeat: no-repeat;}
i.bell-btn.selected {background-image: url('/img/bell.svg');}
.nav {list-style-type: none; margin: auto; padding: 0;}
.nav li {padding: 0.5em 2em;}
.nav li a {color: white; text-decoration: none; font-size: 1.2em; white-space: nowrap;}
.nav li.group a {color: #d9f;}
.loader {
    width: 1em; height: 1em; align-self: center; margin-left: 0.3em;
    border: 3px solid #fff; border-bottom-color: transparent; border-radius: 50%;
}
.loader:not(.hidden) {animation: rotation 1s linear infinite;}
@keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}
.hidden, .bar .hidden {display: none;}

header, main, footer {transition: filter 0.3s ease-in-out;}
.dimmed header, .dimmed main, .dimmed footer {filter: brightness(0.5)}
.modal {
    position: fixed; left: 50%; top: 2em; transform: translate(-50%, 0); z-index: 4;
    padding: 0.2em 0.5em; width: fit-content; white-space: nowrap;
    border: 1px solid #888; border-radius: 5px; box-shadow: 0 0 10px #000; background-color: #222;
}
.modal .close {display: inline-block; margin-left: 0.5em; vertical-align: top; cursor: pointer; color: #aaa;}
.modal .content {display: inline-block;}
.modal .content a {text-decoration: none; color: #fff;}
.modal .content i, .nav li i {margin-left: 0.5em; color: #888;}
